/********** CSS **********/
:root {
    /* --primary: #D81324; */
    --primary: #CE2026;
    --secondary: #0B2154;
    --light: #F2F2F2;
    --dark: #111111;
}


body {
    font-family: 'Work Sans', sans-serif;
}

.text-primary {
    color: #CE2026!important;
}


.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .list-group-item {
    border: none;
    background: none;
    padding: 0rem 0.6rem;
}

.navbar .list-group-item.lab-title {
    color: #891519;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}

.navbar .list-group-item.lab-subtitle {
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 300;
    padding-bottom: 0.4rem;
    margin-top: -5px;
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-inner .header-img {
    height: 31rem;
    object-fit: cover;
   
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


.header-project-content > h6, h1, h5, a {
    font-family: 'Work Sans', sans-serif !important; 
}

h5.header-project-intro {
    font-weight: 200 !important;
    font-size: 1.1rem;
    line-height: 1.6rem;

}

/*** Team ***/
.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}

.research-team .card {
    border: none;
}

.research-team .card-img-top {
    height: 15rem;
    object-fit: cover;
}

h5.people-name {
    color: #0B2154;
    display: block;
    font-family: 'Work Sans', sans-serif !important;
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 1.25rem;
    text-decoration: underline;
}

.people-info .card-body {
    background-color: #f2f2f2;
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
}

.people-info .school-info {
    font-weight: 500;
}

.people-info .edu-info {
    font-weight: 300;
    display: block;
    line-height: 1.5 !important;
}

/*** Research Interests ***/
.research-interests .card {
    border: 0;
}

.research-interests .card-img-top {
    height: 13.5rem;
    object-fit: cover;
}

.research-item-btn {
    border-radius: 0;
    display: block; 
    width: fit-content;
}

.research-interests .research-funder {
    margin-top: 0.4rem !important;
    color: #891519;
}

.research-interests .research-content {
    margin-top: 0.8rem !important;
    margin-bottom: 0.3rem !important;
}

.research-link-next {
   position: absolute;
   bottom: 0;
   right: 0;
}

/*** Publications ***/
.publication-list .list-group-numbered>li::before {
    font-size: 1.2rem;
}

.pub-title a {
    font-size: 1.2rem;
    color: #212529;
}

.pub-title a:hover {
    text-decoration: underline;
}

.pub-authors {
    font-size: 0.9rem;
    margin-bottom: 0;
    color:#777777;
}

.pub-info {
    color:#777777;
}

.publication-list .list-group-item {
    padding-bottom: 1rem;
}

/*** Contact ***/
.contact-me .form-control:focus {
    border-color: #0B2154 !important;
    box-shadow: 0 0 0 0.25rem rgba(11, 33, 84, 0.15);
}

/*** Footer ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/footer-img-1.jpeg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
